In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [ ]:
# 2. Cargar Archivo
data = pd.read_csv('data_evaluacion.csv')
data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48841 entries, 0 to 48840
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   39             48841 non-null  int64
 1   State-gov      48841 non-null  object
 2   77516          48841 non-null  int64
 3   Bachelors      48841 non-null  object
 4   13             48841 non-null  int64
 5   Never-married  48841 non-null  object
 6   Adm-clerical   48841 non-null  object
 7   Not-in-family  48841 non-null  object
 8   White          48841 non-null  object
 9   Male           48841 non-null  object
 10  2174           48841 non-null  int64
 11  0              48841 non-null  int64
 12  40             48841 non-null  int64
 13  United-States  48841 non-null  object
 14  <=50K          48841 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [ ]:
data.describe()

,39,77516,13,2174,0,40
count,48841.000000,4.884100e+04,48841.000000,48841.000000,48841.000000,48841.000000
mean,38.643578,1.896664e+05,10.078029,1079.045208,87.504105,40.422391
std,13.710650,1.056039e+05,2.570965,7452.093700,403.008483,12.391571
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175550e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781470e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376460e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

4. Transformamos nuestros datos categoricos a numericos

In [ ]:
# Asignar nombres a las columnas
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
                'marital_status', 'occupation', 'relationship', 'race', 'sex',
                'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
data.columns = column_names

In [ ]:
# Imputar valores nulos con la media o la moda según sea apropiado
for column in data.columns:
    if data[column].isnull().sum() > 0:
        if data[column].dtype == 'object':
            data[column].fillna(data[column].mode()[0], inplace=True)
        else:
            data[column].fillna(data[column].mean(), inplace=True)

In [ ]:
# Codificar columnas categóricas
label_encoders = {}
categorical_columns = data.select_dtypes(include=['object']).columns

for col in categorical_columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

In [ ]:
# Normalizar los datos
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

In [ ]:
# Convertir de nuevo a DataFrame para facilitar el manejo
data_scaled = pd.DataFrame(data_scaled, columns=data.columns)

In [ ]:
# Guardar el DataFrame procesado en un nuevo CSV
processed_file_path = 'data_evaluacion_processed.csv'
data_scaled.to_csv(processed_file_path, index=False)

In [ ]:
print(data.columns)

Index(['39', 'State-gov', '77516', 'Bachelors', '13', 'Never-married',
       'Adm-clerical', 'Not-in-family', 'White', 'Male', '2174', '0', '40',
       'United-States', '<=50K'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Cargar el dataset original
data_original = pd.read_csv('data_evaluacion.csv', header=None)

# Asignar nombres a las columnas del dataset original
data_original.columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
                         "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
                         "hours-per-week", "country", "salary"]

# Reemplazar los valores faltantes representados por '?' con NaN
data_original.replace('?', np.nan, inplace=True)

# Rellenar los valores faltantes con la moda (para columnas categóricas) y la media (para columnas numéricas)
for column in data_original.columns:
    if data_original[column].dtype == 'object':
        data_original[column].fillna(data_original[column].mode()[0], inplace=True)
    else:
        data_original[column].fillna(data_original[column].mean(), inplace=True)

# Convertir las columnas categóricas a numéricas usando LabelEncoder
label_encoders = {}
categorical_columns = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "country", "salary"]

for column in categorical_columns:
    le = LabelEncoder()
    data_original[column] = le.fit_transform(data_original[column])
    label_encoders[column] = le

# Guardar el dataset limpio
data_original.to_csv('data_evaluacion_processed.csv', index=False)

print("El dataset ha sido limpiado y guardado como 'data_evaluacion_processed.csv'")

El dataset ha sido limpiado y guardado como 'data_evaluacion_processed.csv'